node_modules/
dist/
react-build/
frontend-web/build/
frontend-web/node_modules/
tmp-edge-tests/
tmp-edge-tests-success/
.env
.env.production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
